SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-key-here
DEV_DATABASE_URL=sqlite:///db_name_dev.db
PROD_DATABASE_URL=sqlite:///db_name_prod.db
FLASK_ENV=development
REDIS_URL=redis://localhost:6379/0
MAIL_USERNAME=email-id
MAIL_PASSWORD=you-app-16-digit-app-pass